body, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    margin: 0px;
    min-height: 100vh;
    background: rgb(42,209,206);
    background: linear-gradient(0deg, rgba(42,209,206,0.5648460067620799) 0%, rgba(255,255,255,1) 100%); 
}

.main-content {
    max-width: fit-content;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.button-block {
    display: flex;
}

.input-button-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 65px;
    z-index: 10;
}

.input-location-form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    backdrop-filter: brightness(96%);
}

.input-location-container {
    display: flex;
    gap: 5px;
}

.input-location-block {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    height: 135px;
    padding: 5px;
}

.location-type-button {
    height: 50px;
    width: 150px;
    align-self: center;
}

.input-city-name,
.input-coordinates {
    margin: auto;
}

.input-latitude {
    display: flex;
}

.input-latitude input {
    margin-bottom: 5px;
    margin-left: auto;
}

.input-latitude input, label {
    margin-top: 60px;
}

.input-city-name input, label {
    margin-top: 60px
}

.input-date-block {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 0px;
    min-height: 10vh;
}

.input-start-and-end-date-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-start-date-block,
.input-end-date-block {
    margin: auto;
}

.submit-button {
    width: 50%;
    margin: auto;
}

.dark-overlay {
    opacity: 0.1;
}

.light-dark-overlay {
    opacity: 0.7;
}