<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data Analysis</title>
    <link href="{{ url_for('static', path='/analysis.css') }}" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <h1>Weather Data Analysis</h1>
        <h1>City: {{ city }}</h1>
        <h2>{{ start_date }} - {{ end_date }}</h2>
        <div>
            {{ descriptive_stats | safe }}
        </div>
    </div>
    <div class="visualizations">
        <img src="data:image/png;base64,{{ visualizations.img_avg_temperature }}" alt="Weather Visualization1">
        <img src="data:image/png;base64,{{ visualizations.img_avg_humidity }}" alt="Weather Visualization2">
        <img src="data:image/png;base64,{{ visualizations.img_avg_wind_speed }}" alt="Weather Visualization2">
        <img src="data:image/png;base64,{{ visualizations.img_max_uv_index }}" alt="Weather Visualization2">
    </div>
</body>
</html>
